.overlayblock {
	padding: 0.5rem;
	background-color: white;
	font-weight: bold;
	display: inline-block;
 }
 
 .overlayblock p {
	color: black;
	font-size: 16px;
 }
 
 .inputMainDiv {
	background-color: rgb(226 232 240);
	padding: 0.75rem;
	border-radius: 1rem;
	margin-top: 0.75rem;
	display: flex;
	align-items: center;
	gap: 1rem;
 }
 
 .googleautocomplete {
	width: 100%;
 }
 
 .homeDiv {
	padding: 1.5rem;
	display: grid;
	grid-template-areas: 
	  "input map"
	  ". map";
	grid-template-columns: 1fr 2fr;
	gap: 1.25rem;
 }
 
 .googleMap {
	grid-area: map;
	width: 100%;
	min-width: 300px;
 }
 .sectionDiv{
	min-width: 400px;
 }
 .inputMainDiv {
	grid-area: input;
 }
 
 .searchSection {
	padding: 0.5rem;
	border: 2px solid #000;
	border-radius: 0.5rem;
 }
 
 .headingSection {
	font-size: 30px;
	font-weight: bold;
 }
 
 .buttonSearch {
	padding: 0.75rem;
	background-color: #000;
	color: #fff;
	width: 100%;
	margin-top: 1.25rem;
	border-radius: 0.5rem;
 }
 
 .headerbloc {
	padding: 1.25rem;
	padding-bottom: 0.75rem;
	padding-left: 2.5rem;
	border-bottom: 4px solid #e5e5e5;
 }
 
 @media (max-width: 768px) {
	.homeDiv {
	  grid-template-columns: 1fr;
	  grid-template-areas: 
		 "map"
		 "input";
	}
 
	.googleMap {
	  grid-column: 1;
	}
 
	.inputMainDiv {
	  grid-column: 1;
	  flex-direction: column;
	  align-items: flex-start;
	}
 }
 .carListContainer {
	overflow: auto;
	padding: 1.4rem;
	height: 250px;
 }
 
 .carListTitle {
	font-size: 22px;
	font-weight: bold;
 }
 
 .carListItem {
	cursor: pointer;
	padding: 2rem 4rem;
	border-radius: 1rem;
	border: 1px solid black;
 }
 
 .carListItemActive {
	border-width: 3px;
 }


 .carListItemContainer {
	display: flex;
	justify-content: space-between;
 }
 
 .carListItemDetails {
	display: flex;
	align-items: center;
 }
 
 .carListItemName {
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
 }
 
 .carListItemSeat {
	margin-left: 10px;
	font-weight: normal;
	font-size: 14px;
	align-items: center;
 }
 
 .carListItemAmount {
	font-size: 18px;
	font-weight: bold;
 }