/*.overlayblock{
	padding: 0.5rem;
	background-color: white;
	font-weight: bold;
	display: inline-block;
}
.overlayblock p{
	color: black;
	font-size: 16px;
}
.inputMainDiv{
	background-color: rgb(226 232 240);
	padding: 0.75rem; border-radius: 1rem; margin-top: 0.75rem; display: flex; align-items: center; gap: 1rem;
}
.googleautocomplete{
	width: 100%;
}
.homeDiv{
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-columns: repeat(3,minmax(0,1fr));
	gap:1.25rem
}
.googleMap{
	grid-column: span 2;
}
.searchSection{
	padding: 0.5rem; 
	border: 2px solid #000; 
	border-radius: 0.5rem; 
}
.headingSection{
	font-size: 20px; 
	font-weight: bold;
}
.buttonSearch{
	padding: 0.75rem; 
  background-color: #000; 
  color: #fff; 
  width: 100%;
  margin-top: 1.25rem; 
  border-radius: 0.5rem; 
}
.headerbloc{
	padding: 1.25rem; 
	padding-bottom: 0.75rem; 
	padding-left: 2.5rem; 
	border-bottom: 4px solid #e5e5e5;
}*/
/* Base styles for larger screens */
.overlayblock {
	padding: 0.5rem;
	background-color: white;
	font-weight: bold;
	display: inline-block;
 }
 
 /* Common styles for both large and small screens */
 .overlayblock p {
	color: black;
	font-size: 16px;
 }
 
 .inputMainDiv {
	background-color: rgb(226 232 240);
	padding: 0.75rem;
	border-radius: 1rem;
	margin-top: 0.75rem;
	display: flex;
	align-items: center;
	gap: 1rem;
 }
 
 .googleautocomplete {
	width: 100%;
 }
 
 /* Larger screens (e.g., desktop) */
 .homeDiv {
	padding: 1.5rem;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 1.25rem;
 }
 
 .googleMap {
	grid-column: span 2;
 }
 
 /* Smaller screens (e.g., mobile) */
 @media (max-width: 768px) {
	.homeDiv {
	  grid-template-columns: 1fr;
	}
 
	.googleMap {
	  grid-column: span 1;
	}
 
	.inputMainDiv {
	  flex-direction: column;
	  align-items: flex-start;
	}
 }

 .searchSection {
	padding: 0.5rem;
	border: 2px solid #000;
	border-radius: 0.5rem;
 }
 
 .headingSection {
	font-size: 20px;
	font-weight: bold;
 }
 
 .buttonSearch {
	padding: 0.75rem;
	background-color: #000;
	color: #fff;
	width: 100%;
	margin-top: 1.25rem;
	border-radius: 0.5rem;
 }
 
 .headerbloc {
	padding: 1.25rem;
	padding-bottom: 0.75rem;
	padding-left: 2.5rem;
	border-bottom: 4px solid #e5e5e5;
 }
 